# **Titanic Quiz Using Pandas**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Extracting the csv file

titanic=pd.read_csv("/content/titanic.csv")

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#1.Extract the titles (Mr., Mrs., Miss, etc.) from the names of passengers. What is the most common title?


titanic["title"]=titanic["Name"].str.split(" ").str[1]
titanic.groupby('title')["title"].value_counts().sort_values(ascending=False).head(1)

title
Mr.    502
Name: count, dtype: int64

In [ ]:
#2.Count the number of unique ticket prefixes in the Ticket column. What is the most common ticket prefix?

#getting the  all unique values in Ticket
titanic.groupby("Ticket")["Ticket"].unique().value_counts().sort_values(ascending=False)

# create the prefix column to get the prefix of string
titanic['prefix'] = titanic['Ticket'].str[:5]

#count the most common ticket prefix
titanic.groupby("prefix")['prefix'].value_counts().sort_values(ascending=False).head(1)

prefix
PC 17    60
Name: count, dtype: int64

In [ ]:
#3.Identify passengers with multiple cabins. What proportion of passengers had multiple cabins?
#split the cabins and find len
titanic["multi_cabin"]=titanic['Cabin'].str.split(" ").str.len()

#use boolen mask to cheeck the total passengers with multiple cabins
new_multicabin=titanic[titanic["multi_cabin"] > 1].count() #24

final_multicabin=new_multicabin.head(1) #  passengers = 24

#find the total passengers
total_pass=titanic["PassengerId"].count()

print(f"proportion of passengers had multiple cabins :{final_multicabin/total_pass}")

proportion of passengers had multiple cabins :PassengerId    0.026936
dtype: float64

In [ ]:
#4.Calculate the average fare paid by passengers from each embarkation point.
# What is the average fare from 'S' (Southampton)?
titanic.groupby("Embarked")["Fare"].mean().sort_values(ascending=False)

Embarked
C    59.954144
S    27.079812
Q    13.276030
Name: Fare, dtype: float64

In [ ]:
#5.Check if any passengers have the same last name. What is the most common last name?
titanic["last_name"]=titanic["Name"].str.split(" ").str[0]

#titanic["last_name"]

titanic.groupby("last_name")['last_name'].value_counts().sort_values(ascending=False).head(1)

last_name
Andersson,    9
Name: count, dtype: int64

In [ ]:
#6.Identify passengers with first names that start with 'A'. How many passengers have first names starting with 'A'?
titanic['first_name'] = titanic['Name'].str.split(" ").str[2]

# Filter passengers with first names starting with 'A'
stats_A = titanic[titanic['first_name'].str.startswith('A')]

# Count the number of such passengers

count_A = stats_A['first_name'].count()

print(count_A)

91

In [ ]:
#7.Calculate the proportion of passengers who survived based on their title. What is the avg survival rate for passengers with the title 'Mr'?

titanic[titanic['Survived'] == 1].groupby('title')['Survived'].count().sort_values(ascending=False) # 1 is for survial

title
Miss.           126
Mrs.             97
Mr.              79
Master.          23
Dr.               3
y                 3
Gordon,           2
Mlle.             2
Col.              1
Major.            1
Messemaeker,      1
Mme.              1
Ms.               1
Mulder,           1
the               1
Name: Survived, dtype: int64

In [ ]:
#What is the avg survival rate for passengers with the title 'Mr'?

new_df = titanic[titanic['Survived']==1].groupby('title')['Survived'].count().sort_values(ascending=False)
#gettin mr value using loc
sur_Mr = new_df.loc['Mr.']

#sur_Mr 97

total_Mr = titanic[titanic.title=='Mr.'].count().iloc[0]
# total_Mr  is 502

print('Avg survival rate for passengers with the title Mister : ',sur_Mr/total_Mr)

Avg survival rate for passengers with the title Mister :  0.15737051792828685

In [ ]:
#8.Find the most frequent first letter of passengers' last names. What is the most common first letter?

titanic["last_name"]=titanic["Name"].str.split(" ").str[0]

titanic["common_first"]=titanic["last_name"].str[0]

titanic.groupby("common_first")["common_first"].value_counts().sort_values(ascending=False).head(1)

common_first
S    86
Name: count, dtype: int64

In [ ]:
#9.Create a new column 'FamilySize' based on the number of siblings/spouses[SibSp] and parents/children['Parch'] aboard. What is the average family size?
titanic["FamilySize"]=titanic["SibSp"]+ titanic["Parch"]+ 1
titanic["FamilySize"].mean()

1.904601571268238

In [ ]:
#10.Find the most common cabin deck based on the Cabin column. Which deck is the most common?

titanic.groupby("Cabin")["Cabin"].value_counts()
#Extract First Latter Of String

titanic["Common"]=titanic["Cabin"].str[0]

#then count the most common deck in cabin column
titanic.groupby("Common")['Common'].value_counts().sort_values(ascending=False).head(1)

Common
C    59
Name: count, dtype: int64